@tailwind base;
@tailwind components;
@tailwind utilities;


/* Dans assets/css/fonts.css */

@font-face {
    font-family: 'imp-poppins';
    src: url('../../fonts/Poppins-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'imp-marker';
    src: url('../../fonts/PermanentMarker-Regular.ttf') format('truetype');
  }
  

body {
    background-color: #0C0C0D;
}

.disable-scroll {
    overflow: hidden;
}